.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.error-message {
    color: #ec1818;
    font-size: 18px;
}

.location {
    font-size: 32px;
    background: linear-gradient(to right, #5500ff, #00d0ff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    padding: 25px 0 15px;
    font-weight: 600;
}

.date {
    font-size: 26px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.weather {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-icon {
    height: 200px;
}

.temperature-num {
    background: linear-gradient(to right, #00d0ff, #5500ff);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 3px 3px 6px rgba(48, 18, 84, 0.8);
    font-size: 62px;
    font-weight: 900;
}

.description {
    margin: 25px 0 10px 0;
    font-size: 26px;
}
