.backgroundImage {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px;
    padding: 50px 0;
    min-width: 420px;
    min-height: 680px;
    border: 1px solid #b6b4b4;
    border-radius: 12px;
    background: linear-gradient(to bottom, #dfcdff, #bce7f8);
    box-shadow: inset 20px 20px 30px rgb(94 94 94 / 30%),
    inset -20px -20px 30px rgb(94 94 94/ 30%);
    transition: all 0.3s ease-in-out;

    @media (max-width: 420px) {
        min-width: 380px;
    }
}
